$color-black : #1a1e21;
$color-dark-gray : #40454a;
$color-gray: #888d92;
$color-light-gray: #ccd2d5;

$bg-color-body: #d7e4dd;
$bg-color-white: #fdfffa;

$bg-color-dark-green: #0e423e;
$bg-color-light-green: #56817d;

$button-primary: #e7fe54;
$button-hover: #d7f526;
$button-active: #cfe934;
$button-disabled: #eef8b5;

$primary-green: #6fbc3e;
$primary-blue: #5d95ff;
$primary-yellow: #f9d20e;
$primary-red: #ff523f;